.container{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 300px;
    margin: auto;
    background-color: rgba(103, 81, 49, 0.733);
    padding: 60px;
    border-radius: 50px;
    font-size: 1.2em;
    font-weight: 1,5;
    color: #fffbf6;
    
}

input{
    width: 100%;
    display: block;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;

}
div {

    font-size: 1.2em;
    font-weight: 1,5;
    color: #ffffff;
    
}